@model Concessionaire.Data.Entities.Vehicle

<h3>Vehículo</h3>
<hr />
<dl class="row">
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Plaque)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Plaque)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.VehicleType.Name)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.VehicleType.Name)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Brand.Name)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Brand.Name)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Line)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Line)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Model)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Model)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Price)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Color)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Color)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.IsRent)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.IsRent)
    </dd>
    <dt class = "col-sm-3">
        @Html.DisplayNameFor(model => model.PhotosNumber)
    </dt>
    <dd class = "col-sm-9">
        @Html.DisplayFor(model => model.PhotosNumber)
    </dd>
</dl>


